<div class="app-component-wrapper">
    <div class="row m-auto">
        <h3 class="mb-4 text-success">
            <u> Angular Features</u>
        </h3>
        <ul class="menu-list">
            <li class="list-item" [routerLink]="['selectors']">Binding types</li>
        </ul>
    </div>

    <div class="row m-auto">
        <h3 class="mb-4 text-success">
            <u> JavaScript Features</u>
        </h3>
        <ul class="menu-list">
            <li class="list-item" [routerLink]="['selectors']">Binding types</li>
        </ul>
    </div>

    <div class="row m-auto">
        <h3 class="mb-4 text-success">
            <u> CSS Features</u>
        </h3>
        <ul class="menu-list">
            <li class="list-item" [routerLink]="['selectors']">Binding types</li>
        </ul>
    </div>
</div>