<div class="row m-auto">
    <div class="col-sm-6 col-lg-4  my-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-subtitle mb-2">Input Props</h5>
                <p class="card-text">
                    Counter: <strong>{{currentCount}}</strong>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-4 my-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-subtitle mb-2">Output Props</h5>
                <p class="card-text">


                    <button class="btn btn-sm btn-danger" (click)="updateCounter()">update counter</button>
                </p>

            </div>
        </div>
    </div>
</div>