<div class="app-component-wrapper">
    <div class="row m-auto">
        <h4 class="mb-4 text-success">
            <u> Angular Features</u>
        </h4>
        <ul class="menu-list">
            <li class="list-item" [routerLink]="['custom-directives']">Custom Directives</li>
            <li class="list-item" [routerLink]="['child-types']">Child Types</li>
            <li class="list-item" [routerLink]="['input-output']">Input/Output</li>
            <li class="list-item" [routerLink]="['container-types']">Container Types</li>
        </ul>
    </div>

    <div class="row m-auto">
        <h4 class="mb-4 text-success">
            <u> JavaScript Features</u>
        </h4>
        <ul class="menu-list">
            <li class="list-item" [routerLink]="['higher-order-fn']">Higher Order Function</li>
        </ul>
    </div>

    <div class="row m-auto">
        <h4 class="mb-4 text-success">
            <u> CSS Features</u>
        </h4>
        <ul class="menu-list">
            <li class="list-item" [routerLink]="['selectors']">Binding types</li>
        </ul>
    </div>
</div>