<div class="row m-auto">
    <div class="col-sm-6 col-lg-4  my-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-subtitle mb-2">View Child</h5>
                <p class="card-text">

                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-4 my-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-subtitle mb-2">View Children</h5>
                <p class="card-text">

                    <input type="text" #itemInfo value="20" class="form-control">
                    <br />
                    <input type="text" #itemInfo value="30" class="form-control">
                    <br />
                    <input type="text" #itemInfo value="40" class="form-control">
                </p>

            </div>
        </div>
    </div>
</div>